body {
  padding: 0;
  margin: 0;
}
.container {
  margin: 20px 80px;
  max-width: 100%;
}

h1 {
  margin: 0;
  text-align: center;
}

.purple {
  color: purple;
}
.box {
  background-color: rebeccapurple;
  color: white;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate-box {
  height: 100px;
  width: 100px;
  background-color: peru;
}

#openVABtn,
#closeVABtn,
.center-40 {
  position: relative;
  left: 40vw;
  width: 20vw;
  margin-top: 5vh;
  height: 15vh;
  font-size: large;
}
